svg {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 2px;
}

.axis .tick line {
    stroke-width: 1px;
}

path.line.highlight {
    stroke-width: 4px;
}

path.line {
    fill: none;
    stroke-width: 2px;
}

.circle_container.highlight circle {
    fill: inherit;
    stroke-width: 2px;
    stroke: orange;
}

svg circle {
    fill: inherit;
    stroke: none;
}


